/*
Create by: F. Jair
Date: 09/07/2020
*/

body {
    font-family: tahoma, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

.content {
    width: 1024px;
    margin: 20px auto;
}

.cabecalho {
    position: absolute;
}

/* .nav-bar {} */

.lista-nav {
    margin: 0;
    padding: 0;
}

.lista {
    display: inline-block;
    margin: 16px 16px;
    list-style: none;
    padding: 13px;
}

.lista:hover {
    background-color: #128bee;
}

.lista a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .9s linear;
    transition: font-size 0.9s linear;
    /* property name | duration | timing function(opcional) | delay */
}

.lista a:hover {
    color: black;
    font-size: 30px;
}

.image-top {
    height: 500px;
    width: 1000px;
}

.content-main {
    margin-top: 200px;
}

.content-main h1 {
    font-size: 40px;
}

.content-main img {
    height: 200px;
    float: left;
}

.content-main p {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
}

.gallery {
    margin-top: 100px;
    margin-left: 10px;
}

.gallery h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.card {
    display: inline-block;
    margin: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #b4ddff;
    /* width: 25%; */
}

.card img {
    border-radius: 10px;
    height: 200px;
    width: 290px;
    /* width: 100%; */
}

/* .box {} */

.card p {
    font-size: 15px;
    text-transform: lowercase;
    text-align: center;
}

footer {
    margin-top: 100px;
    background-color: royalblue;
    height: 100px;
}

footer p {
    text-align: center;
    padding-top: 40px;
}