/*Create by F.Jair*/

body {
    margin: 0;
    background-color: #8f8d8d;
    font-family: sans-serif;
}

.hearder-content {
    background-color: #3d3d3d;
    width: 100%;
    height: 100px;
    display: inline-block;
}

.img-nav {
    height: 139px;
    margin-top: -20px;
    margin-left: 150px;
    position: absolute;
}

/* .nav-bar {} */

/* .nav-ul {} */

.nav-ul {
    float: right;
    list-style-type: none;
    /* position: relative; */
    /* margin-top: -85px; */
}

.nav-ul li {
    margin-top: 10px;
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
    border-color: #b6b6b6;
    border-style: solid;
    border-width: 3px;
    border-radius: 23px;
    background-color: rgba(61, 61, 61, 0.3)
}

.nav-ul li:hover {
    background-color: rgb(90, 90, 90);
}

.nav-ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.content {
    text-align: center;
    padding: 0 300px 0 300px;
    margin-top: 200px;
}

.content-titulo {
    font-size: 50px;
}

.content h3 {
    text-decoration: underline;
}

.paragrafo {
    text-align: justify;
    font-size: 20px;
    /* word-spacing: 1px; */
    /*Espaço entre as palavras*/
    letter-spacing: 1px;
    /*Espaço entre as letras*/
    /* white-space: normal; */
    /*Espaço em branco*/
    line-height: 1.6;
    /*Espaço entre linha
    se colocar o "px" ele vai contar 
    se não colocar e como se ele so somase*/

}

.rodape {
    background-color: #ebe9e9;
    height: 30px;
    text-align: center;
}

.rodape p {
    color: lightgray;
}

.rodape p:hover {
    color: red;
}

.rodape p span {
    text-decoration: underline;
}